In [98]:
# sample of training the titanic data sets and creating a submission using AutoML 
# for the popular Kaggle Titanic challenge. 
# Note: feature engineering approach copied from: 
# https://medium.com/i-like-big-data-and-i-cannot-lie/how-i-scored-in-the-top-9-of-kaggles-titanic-machine-learning-challenge-243b5f45c8e9 
# algorithn used in the above link was RandomForestClassifier. Automated ML will choose the best classifier!

In [99]:
# Uncomment below to Install azureml.core in the current Jupyter kernel
# import sys
# !{sys.executable} -m  pip install azureml.core --user

In [100]:
# Uncomment below to Install azureml.train.automl in the current Jupyter kernel
# import sys
# !{sys.executable} -m  pip install azureml.train.automl --user

In [101]:
subscription_id = "c8a23972-1b42-43fa-9bda-92e665014f30"
resource_group = "auto-ml-local-fe"
workspace_name = "kappgle-ml-local-fe"
workspace_region = "eastus2"

In [102]:
# Import the Workspace class and check the Azure ML SDK version.
from azureml.core import Workspace

ws = Workspace.create(name = workspace_name,
                      subscription_id = subscription_id,
                      resource_group = resource_group, 
                      location = workspace_region,
                      exist_ok=True)
ws.get_details()

{'applicationInsights': '/subscriptions/c8a23972-1b42-43fa-9bda-92e665014f30/resourcegroups/auto-ml-local-fe/providers/microsoft.insights/components/kappgleminsightswmnmvabj',
 'containerRegistry': '/subscriptions/c8a23972-1b42-43fa-9bda-92e665014f30/resourcegroups/auto-ml-local-fe/providers/microsoft.containerregistry/registries/kappglemacrkkiqdpqv',
 'creationTime': '2019-02-12T13:54:21.7891262+00:00',
 'description': '',
 'friendlyName': 'kappgle-ml-local-fe',
 'id': '/subscriptions/c8a23972-1b42-43fa-9bda-92e665014f30/resourceGroups/auto-ml-local-fe/providers/Microsoft.MachineLearningServices/workspaces/kappgle-ml-local-fe',
 'identityPrincipalId': '558fc346-bace-4ffd-a7ee-e45bb4770bfe',
 'identityTenantId': '72f988bf-86f1-41af-91ab-2d7cd011db47',
 'identityType': 'SystemAssigned',
 'keyVault': '/subscriptions/c8a23972-1b42-43fa-9bda-92e665014f30/resourcegroups/auto-ml-local-fe/providers/microsoft.keyvault/vaults/kappglemkeyvaultnlazmtvt',
 'location': 'eastus2',
 'name': 'kappgle-ml-local-fe',
 'storageAccount': '/subscriptions/c8a23972-1b42-43fa-9bda-92e665014f30/resourcegroups/auto-ml-local-fe/providers/microsoft.storage/storageaccounts/kappglemstoragesnbgatos',
 'type': 'Microsoft.MachineLearningServices/workspaces',
 'workspaceid': '019e2e31-7200-486a-8cdf-329b079fae5f'}

In [103]:
import azureml.core
import pandas as pd
from azureml.core.workspace import Workspace
import logging
import os

# ws = Workspace.from_config()
# choose a name for the run history container in the workspace
experiment_name = 'automated-ml-classification'
# project folder
project_folder = './automated-ml-classification'

output = {}
output['SDK version'] = azureml.core.VERSION
output['Subscription ID'] = ws.subscription_id
output['Workspace'] = ws.name
output['Resource Group'] = ws.resource_group
output['Location'] = ws.location
output['Project Directory'] = project_folder
pd.set_option('display.max_colwidth', -1)
pd.DataFrame(data=output, index=['']).T

Location           eastus2
Project Directory  ./automated-ml-classification
Resource Group     auto-ml-local-fe
SDK version        1.0.10
Subscription ID    c8a23972-1b42-43fa-9bda-92e665014f30
Workspace          kappgle-ml-local-fe

In [104]:
import pickle
import sys
import os
import pandas
import numpy as np
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_curve

#get the titanic training data set
url = "https://raw.githubusercontent.com/TheovanKraay/mldata/master/kaggle-train.csv"
titanic = pandas.read_csv(url)

In [105]:
# wrangling and feature engineering 
normalized_titles = {
    "Capt":       "Officer",
    "Col":        "Officer",
    "Major":      "Officer",
    "Jonkheer":   "Royalty",
    "Don":        "Royalty",
    "Sir" :       "Royalty",
    "Dr":         "Officer",
    "Rev":        "Officer",
    "the Countess":"Royalty",
    "Dona":       "Royalty",
    "Mme":        "Mrs",
    "Mlle":       "Miss",
    "Ms":         "Mrs",
    "Mr" :        "Mr",
    "Mrs" :       "Mrs",
    "Miss" :      "Miss",
    "Master" :    "Master",
    "Lady" :      "Royalty"
}
titanic['Title'] = titanic.Name.apply(lambda name: name.split(',')[1].split('.')[0].strip())
# map the normalized titles to the current titles 
titanic.Title = titanic.Title.map(normalized_titles)

# group by Sex, Pclass, and Title 
grouped = titanic.groupby(['Sex','Pclass', 'Title'])  
# view the median Age by the grouped features 
grouped.Age.median()
# apply the grouped median value on the Age NaN
titanic.Age = grouped.Age.apply(lambda x: x.fillna(x.median()))

# fill Cabin NaN with U for unknown
titanic.Cabin = titanic.Cabin.fillna('U')
# find most frequent Embarked value and store in variable
most_embarked = titanic.Embarked.value_counts().index[0]

# fill NaN with most_embarked value
titanic.Embarked = titanic.Embarked.fillna(most_embarked)
# fill NaN with median fare
titanic.Fare = titanic.Fare.fillna(titanic.Fare.median())

# size of families (including the passenger)
titanic['FamilySize'] = titanic.Parch + titanic.SibSp + 1

# map first letter of cabin to itself
titanic.Cabin = titanic.Cabin.map(lambda x: x[0])

print(titanic)

     PassengerId  Survived  Pclass  \
0    1            0         3
1    2            1         1
2    3            1         3
3    4            1         1
4    5            0         3
5    6            0         3
6    7            0         1
7    8            0         3
8    9            1         3
9    10           1         2
10   11           1         3
11   12           1         1
12   13           0         3
13   14           0         3
14   15           0         3
15   16           1         2
16   17           0         3
17   18           1         2
18   19           0         3
19   20           1         3
20   21           0         2
21   22           1         2
22   23           1         3
23   24           1         1
24   25           0         3
25   26           1         3
26   27           0         3
27   28           0         1
28   29           1         3
29   30           0         3
..   ..          ..        ..
861  862          0         2
862  863          1         1
863  864          0         3
864  865          0         2
865  866          1         2
866  867          1         2
867  868          0         1
868  869          0         3
869  870          1         3
870  871          0         3
871  872          1         1
872  873          0         1
873  874          0         3
874  875          1         2
875  876          1         3
876  877          0         3
877  878          0         3
878  879          0         3
879  880          1         1
880  881          1         2
881  882          0         3
882  883          0         3
883  884          0         2
884  885          0         3
885  886          0         3
886  887          0         2
887  888          1         1
888  889          0         3
889  890          1         1
890  891          0         3

                                                          Name     Sex   Age  \
0    Braund, Mr. Owen Harris                                    male    22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Thayer)        female  38.0
2    Heikkinen, Miss. Laina                                     female  26.0
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)               female  35.0
4    Allen, Mr. William Henry                                   male    35.0
5    Moran, Mr. James                                           male    26.0
6    McCarthy, Mr. Timothy J                                    male    54.0
7    Palsson, Master. Gosta Leonard                             male    2.0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)          female  27.0
9    Nasser, Mrs. Nicholas (Adele Achem)                        female  14.0
10   Sandstrom, Miss. Marguerite Rut                            female  4.0
11   Bonnell, Miss. Elizabeth                                   female  58.0
12   Saundercock, Mr. William Henry                             male    20.0
13   Andersson, Mr. Anders Johan                                male    39.0
14   Vestrom, Miss. Hulda Amanda Adolfina                       female  14.0
15   Hewlett, Mrs. (Mary D Kingcome)                            female  55.0
16   Rice, Master. Eugene                                       male    2.0
17   Williams, Mr. Charles Eugene                               male    31.0
18   Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)    female  31.0
19   Masselmani, Mrs. Fatima                                    female  31.0
20   Fynney, Mr. Joseph J                                       male    35.0
21   Beesley, Mr. Lawrence                                      male    34.0
22   McGowan, Miss. Anna "Annie"                                female  15.0
23   Sloper, Mr. William Thompson                               male    28.0
24   Palsson, Miss. Torborg Danira                              female  8.0
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)  female  38.0
26   Emir, Mr. Farred Chehab                                    male    26.0
27   Fortune, Mr. Charles Alexander                             male    19.0
28   O'Dwyer, Miss. Ellen "Nellie"                              female  18.0
29   Todoroff, Mr. Lalio                                        male    26.0
..                   ...                                         ...     ...
861  Giles, Mr. Frederick Edward                                male    21.0
862  Swift, Mrs. Frederick Joel (Margaret Welles Barron)        female  48.0
863  Sage, Miss. Dorothy Edith "Dolly"                          female  18.0
864  Gill, Mr. John William                                     male    24.0
865  Bystrom, Mrs. (Karolina)                                   female  42.0
866  Duran y More, Miss. Asuncion                               female  27.0
867  Roebling, Mr. Washington Augustus II                       male    31.0
868  van Melkebeke, Mr. Philemon                                male    26.0
869  Johnson, Master. Harold Theodor                            male    4.0
870  Balkic, Mr. Cerin                                          male    26.0
871  Beckwith, Mrs. Richard Leonard (Sallie Monypeny)           female  47.0
872  Carlsson, Mr. Frans Olof                                   male    33.0
873  Vander Cruyssen, Mr. Victor                                male    47.0
874  Abelson, Mrs. Samuel (Hannah Wizosky)                      female  28.0
875  Najib, Miss. Adele Kiamie "Jane"                           female  15.0
876  Gustafsson, Mr. Alfred Ossian                              male    20.0
877  Petroff, Mr. Nedelio                                       male    19.0
878  Laleff, Mr. Kristo                                         male    26.0
879  Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)              female  56.0
880  Shelley, Mrs. William (Imanita Parrish Hall)               female  25.0
881  Markun, Mr. Johann                                         male    33.0
882  Dahlberg, Miss. Gerda Ulrika                               female  22.0
883  Banfield, Mr. Frederick James                              male    28.0
884  Sutehall, Mr. Henry Jr                                     male    25.0
885  Rice, Mrs. William (Margaret Norton)                       female  39.0
886  Montvila, Rev. Juozas                                      male    27.0
887  Graham, Miss. Margaret Edith                               female  19.0
888  Johnston, Miss. Catherine Helen "Carrie"                   female  18.0
889  Behr, Mr. Karl Howell                                      male    26.0
890  Dooley, Mr. Patrick                                        male    32.0

     SibSp  Parch            Ticket      Fare Cabin Embarked    Title  \
0    1      0      A/5 21171         7.2500    U     S        Mr
1    1      0      PC 17599          71.2833   C     C        Mrs
2    0      0      STON/O2. 3101282  7.9250    U     S        Miss
3    1      0      113803            53.1000   C     S        Mrs
4    0      0      373450            8.0500    U     S        Mr
5    0      0      330877            8.4583    U     Q        Mr
6    0      0      17463             51.8625   E     S        Mr
7    3      1      349909            21.0750   U     S        Master
8    0      2      347742            11.1333   U     S        Mrs
9    1      0      237736            30.0708   U     C        Mrs
10   1      1      PP 9549           16.7000   G     S        Miss
11   0      0      113783            26.5500   C     S        Miss
12   0      0      A/5. 2151         8.0500    U     S        Mr
13   1      5      347082            31.2750   U     S        Mr
14   0      0      350406            7.8542    U     S        Miss
15   0      0      248706            16.0000   U     S        Mrs
16   4      1      382652            29.1250   U     Q        Master
17   0      0      244373            13.0000   U     S        Mr
18   1      0      345763            18.0000   U     S        Mrs
19   0      0      2649              7.2250    U     C        Mrs
20   0      0      239865            26.0000   U     S        Mr
21   0      0      248698            13.0000   D     S        Mr
22   0      0      330923            8.0292    U     Q        Miss
23   0      0      113788            35.5000   A     S        Mr
24   3      1      349909            21.0750   U     S        Miss
25   1      5      347077            31.3875   U     S        Mrs
26   0      0      2631              7.2250    U     C        Mr
27   3      2      19950             263.0000  C     S        Mr
28   0      0      330959            7.8792    U     Q        Miss
29   0      0      349216            7.8958    U     S        Mr
..  ..     ..         ...               ...   ..    ..        ..
861  1      0      28134             11.5000   U     S        Mr
862  0      0      17466             25.9292   D     S        Mrs
863  8      2      CA. 2343          69.5500   U     S        Miss
864  0      0      233866            13.0000   U     S        Mr
865  0      0      236852            13.0000   U     S        Mrs
866  1      0      SC/PARIS 2149     13.8583   U     C        Miss
867  0      0      PC 17590          50.4958   A     S        Mr
868  0      0      345777            9.5000    U     S        Mr
869  1      1      347742            11.1333   U     S        Master
870  0      0      349248            7.8958    U     S        Mr
871  1      1      11751             52.5542   D     S        Mrs
872  0      0      695               5.0000    B     S        Mr
873  0      0      345765            9.0000    U     S        Mr
874  1      0      P/PP 3381         24.0000   U     C        Mrs
875  0      0      2667              7.2250    U     C        Miss
876  0      0      7534              9.8458    U     S        Mr
877  0      0      349212            7.8958    U     S        Mr
878  0      0      349217            7.8958    U     S        Mr
879  0      1      11767             83.1583   C     C        Mrs
880  0      1      230433            26.0000   U     S        Mrs
881  0      0      349257            7.8958    U     S        Mr
882  0      0      7552              10.5167   U     S        Miss
883  0      0      C.A./SOTON 34068  10.5000   U     S        Mr
884  0      0      SOTON/OQ 392076   7.0500    U     S        Mr
885  0      5      382652            29.1250   U     Q        Mrs
886  0      0      211536            13.0000   U     S        Officer
887  0      0      112053            30.0000   B     S        Miss
888  1      2      W./C. 6607        23.4500   U     S        Miss
889  0      0      111369            30.0000   C     C        Mr
890  0      0      370376            7.7500    U     Q        Mr

     FamilySize
0    2
1    2
2    1
3    2
4    1
5    1
6    1
7    5
8    3
9    2
10   3
11   1
12   1
13   7
14   1
15   1
16   6
17   1
18   2
19   1
20   1
21   1
22   1
23   1
24   5
25   7
26   1
27   6
28   1
29   1
..  ..
861  2
862  1
863  11
864  1
865  1
866  2
867  1
868  1
869  3
870  1
871  3
872  1
873  1
874  2
875  1
876  1
877  1
878  1
879  2
880  2
881  1
882  1
883  1
884  1
885  6
886  1
887  1
888  4
889  1
890  1

[891 rows x 14 columns]

In [106]:
# Convert the male and female groups to integer form
titanic.Sex = titanic.Sex.map({"male": 0, "female":1})
# create dummy variables for categorical features
pclass_dummies = pd.get_dummies(titanic.Pclass, prefix="Pclass")
title_dummies = pd.get_dummies(titanic.Title, prefix="Title")
cabin_dummies = pd.get_dummies(titanic.Cabin, prefix="Cabin")
embarked_dummies = pd.get_dummies(titanic.Embarked, prefix="Embarked")
# concatenate dummy columns with main dataset
titanic_dummies = pd.concat([titanic, pclass_dummies, title_dummies, cabin_dummies, embarked_dummies], axis=1)

# drop categorical fields
titanic_dummies.drop(['Pclass', 'Title', 'Cabin', 'Embarked', 'Name', 'Ticket'], axis=1, inplace=True)

titanic_dummies.head()

,PassengerId,Survived,Sex,Age,SibSp,Parch,Fare,FamilySize,Pclass_1,Pclass_2,...,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S
0,1,0,0,22.0,1,0,7.2500,2,0,0,...,0,0,0,0,0,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,2,1,0,...,1,0,0,0,0,0,0,1,0,0
2,3,1,1,26.0,0,0,7.9250,1,0,0,...,0,0,0,0,0,0,1,0,0,1
3,4,1,1,35.0,1,0,53.1000,2,1,0,...,1,0,0,0,0,0,0,0,0,1
4,5,0,0,35.0,0,0,8.0500,1,0,0,...,0,0,0,0,0,0,1,0,0,1

In [107]:


#dflow_X = titanic_dummies[['Sex', 'Age', 'SibSp', 'Parch', 'Cabin', 'Embarked', 'Fare' ,'Title', 'FamilySize']]
dflow_X = titanic_dummies[['Sex', 'Age', 'SibSp', 'Parch', 'Fare','FamilySize',  'Pclass_1', 'Pclass_2', 'Pclass_3', 'Title_Master','Title_Miss', 'Title_Mr', 'Title_Mrs', 'Title_Officer','Title_Royalty', 'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D','Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_U', 'Embarked_C','Embarked_Q', 'Embarked_S']]
dflow_y = titanic_dummies['Survived']

In [108]:
from sklearn.model_selection import train_test_split

#split the dataset
x_df = dflow_X
y_df = dflow_y
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size=0.2, random_state=223)

In [109]:
#configure AutoML settings
automl_settings = {
    "iteration_timeout_minutes" : 10,
    "iterations" : 30,
    "primary_metric" : 'accuracy',
    "preprocess" : True,
    "verbosity" : logging.INFO,
    "n_cross_validations": 5
}

In [ ]:
from azureml.train.automl import AutoMLConfig

# local compute - set the parameters
automated_ml_config = AutoMLConfig(task = 'classification',
                             debug_log = 'automated_ml_errors.log',
                             path = project_folder,
                             X = x_train.values,
                             y = y_train.values.flatten(),
                             **automl_settings)

In [ ]:
#run the training

from azureml.core.experiment import Experiment
experiment=Experiment(ws, experiment_name)
local_run = experiment.submit(automated_ml_config, show_output=True)

Running on local machine
Parent Run ID: AutoML_f1c39107-ed81-4cde-829b-6fb1a216d115
*******************************************************************************************************************
ITERATION: The iteration being evaluated.
PIPELINE: A summary description of the pipeline being evaluated.
TRAINFRAC: Fraction of the training data to train on.
DURATION: Time taken for the current iteration.
METRIC: The result of computing score on the fitted pipeline.
BEST: The best observed score thus far.
*******************************************************************************************************************

 ITERATION   PIPELINE                                       TRAINFRAC  DURATION      METRIC      BEST
         0   RobustScaler LogisticRegression                1.0000     0:00:16       0.8175    0.8175
         1   StandardScalerWrapper KNN                      1.0000     0:00:22       0.7921    0.8175
         2   MaxAbsScaler LogisticRegression                1.0000     0:00:42       0.8357    0.8357
         3   TruncatedSVDWrapper RandomForest               1.0000     0:00:22       0.7922    0.8357
         4   StandardScalerWrapper LightGBM                 1.0000     0:18:39       0.7823    0.8357
         5   StandardScalerWrapper SGD                      1.0000     0:00:27       0.8216    0.8357
         6

In [ ]:
#get the best fitted model
best_run, fitted_model = local_run.get_output()
print(best_run)
print(fitted_model)

In [ ]:
#predict against the Kaggle provided test data for the Titanic
url = "https://raw.githubusercontent.com/TheovanKraay/mldata/master/kaggle-test.csv"
test = pandas.read_csv(url)

#***Wrangle and Feature engineer the test data to be predicted against
test['Title'] = test.Name.apply(lambda name: name.split(',')[1].split('.')[0].strip())
# map the normalized titles to the current titles 
test.Title = test.Title.map(normalized_titles)
# group by Sex, Pclass, and Title 
grouped = test.groupby(['Sex','Pclass', 'Title'])  
# view the median Age by the grouped features 
grouped.Age.median()
# apply the grouped median value on the Age NaN
test.Age = grouped.Age.apply(lambda x: x.fillna(x.median()))

# fill Cabin NaN with U for unknown
test.Cabin = test.Cabin.fillna('U')
# find most frequent Embarked value and store in variable
most_embarked = test.Embarked.value_counts().index[0]

# fill NaN with most_embarked value
test.Embarked = test.Embarked.fillna(most_embarked)
# fill NaN with median fare
test.Fare = test.Fare.fillna(test.Fare.median())

# size of families (including the passenger)
test['FamilySize'] = test.Parch + test.SibSp + 1

# map first letter of cabin to itself
test.Cabin = test.Cabin.map(lambda x: x[0])

In [ ]:
# Convert the male and female groups to integer form
test.Sex = test.Sex.map({"male": 0, "female":1})
# create dummy variables for categorical features
pclass_dummies = pd.get_dummies(test.Pclass, prefix="Pclass")
title_dummies = pd.get_dummies(test.Title, prefix="Title")
cabin_dummies = pd.get_dummies(test.Cabin, prefix="Cabin")
embarked_dummies = pd.get_dummies(test.Embarked, prefix="Embarked")
# concatenate dummy columns with main dataset
test_dummies = pd.concat([test, pclass_dummies, title_dummies, cabin_dummies, embarked_dummies], axis=1)

# drop categorical fields
test_dummies.drop(['Pclass', 'Title', 'Cabin', 'Embarked', 'Name', 'Ticket'], axis=1, inplace=True)

test_dummies.head()

In [ ]:
test_dummies.columns.values

In [ ]:
testpred = test_dummies[['Sex', 'Age', 'SibSp', 'Parch', 'Fare','FamilySize',  'Pclass_1', 'Pclass_2', 'Pclass_3', 'Title_Master','Title_Miss', 'Title_Mr', 'Title_Mrs', 'Title_Officer','Title_Royalty', 'Cabin_A', 'Cabin_B', 'Cabin_C', 'Cabin_D','Cabin_E', 'Cabin_F', 'Cabin_G', 'Cabin_U', 'Embarked_C','Embarked_Q', 'Embarked_S']]
y_predict = fitted_model.predict(testpred.values)

#testpred = test[['PassengerId','Sex', 'Age', 'SibSp', 'Parch', 'Cabin', 'Embarked', 'Fare', 'Title', 'FamilySize']]
testpred = test[['PassengerId']]

In [ ]:
#generate a submission file
sub = pandas.DataFrame()
sub['PassengerId'] = test['PassengerId']
sub['Survived'] = y_predict
print(sub)

In [ ]:
#write the submission file
sub.to_csv('submission.csv',index=False)